$red-color: #D61C4E;

.wrapper {
    width: 100%;
    text-align: center;


    .btn {
        outline: none;
        width: 338px;
        height: 40px;
        border-radius: 4px;
        cursor: pointer;

        .text {
            font-size: 0.8rem;
            margin-right: 6px;
        }

        .icon {
            font-size: 0.7rem;
        }

        &:hover {
            background-color: $red-color;
        }

        &:hover .text {
            color: #fff
        }

        &:hover .icon {
            color: #fff
        }
    }


}