$red-color: #D61C4E;
$yellow-color: #FEDB39;
$blue-color: #1CD6CE;

.container {
    width: 100%;
    border-bottom: 2px solid $red-color;
    display: flex;
    justify-content: space-between;

    .logo {

        .link {
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 500;
            color: $red-color;
        }
    }

    .user {
        display: flex;


    }

    .sign_in {
        margin: auto 10px auto auto;
        padding: 5px;

        a {
            color: $red-color;
            text-decoration: none;
            font-size: 0.7rem;
        }

        &:hover {
            background-color: $yellow-color;
            padding: 5px;
            border-radius: 10px;


            a {
                text-decoration: underline;
            }
        }
    }

    .sign_up {
        margin: auto;
        padding: 5px;


        a {
            color: $red-color;
            text-decoration: none;
            font-size: 0.7rem;
        }

        &:hover {
            background-color: $yellow-color;
            padding: 5px;
            border-radius: 10px;

            a {
                text-decoration: underline;
            }
        }
    }

}