$red-color: #D61C4E;
$yellow-color: #FEDB39;
$blue-color: #1CD6CE;

.logo {
    position: relative;
    top: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: italic;
    color: $red-color;
    text-align: center;

}

.main {

    width: 450px;
    height: 600px;
    margin: 60px auto;
    border-radius: 10px;
    background-color: $red-color;

    .wrapper_orientation {
        display: flex;

        .home {
            width: 50%;
            padding: 0 40px;


            .btn_home {
                padding: 10px;
                margin: 10px 0 0;
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: rgba(254, 219, 57, 0.6);
                font-size: 0.7rem;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: $yellow-color;
                }
            }
        }

        .sign_up {
            width: 50%;
            padding: 0 40px;


            .btn {
                float: right;
                padding: 10px;
                margin: 10px 0 0;
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: rgba(254, 219, 57, 0.6);
                font-size: 0.7rem;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: $yellow-color;
                }
            }
        }

    }

    .form {
        width: 100%;
        height: 85%;
        padding: 20px 40px 0;

        .form_group {
            height: 112px;
        }

        .label {
            color: $yellow-color
        }

        .input {
            margin: 15px 0;
            width: 100%;
            padding: 5px;
            font-size: 0.8rem;
            outline: none;
            border: none;
            color: $red-color;

            &::placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: #333;

            }
        }


    }

    .input.active {
        border: 2px solid black;
    }

    .error {
        font-size: 0.7rem;
        color: black;
        margin-top: -10px;

    }

    .submit {
        padding: 10px;
        margin: 30px 0 0;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: rgba(254, 219, 57, 0.6);
        font-size: 0.7rem;
        font-weight: bold;
        cursor: pointer;

        float: right;

        &:hover {
            background-color: $yellow-color;
        }
    }


}